.App {


  h1 {
    font-size: 30pt;
  }

  h3 {
    font-size: 20pt;
  }

  h4 {
    font-size: 17pt;
  }

  h1,
  h3,
  h4{
    font-family: Merriweather Sans, Arial, sans-serif;
    font-weight: 700;
  }

  p.team-member {
    font-family: Merriweather Sans, Arial, sans-serif;
    font-size: 15pt;
  }

  p {
    font-size: 13pt;
    font-family: Lato, Arial, sans-serif;
  }

  margin-top: -10px;

  .col.page1 {
    padding: 0;
  }


  .welcome {
    position:absolute;
    z-index: 9999;
    height: 86%;

  }

  .hello,
  .team {
    background-color: rgba(0,0,0,0.7);
    margin-top: 50px;
    min-height:100%;
  }

  .hello {
    text-align: left;
    color: white;

    &-content {
      padding: 25px 50px;
    }
  }

  .what {
    padding: 0 50px;
  }

  .team {
    text-align: left;
    color: white;
    padding: 40px 50px 0 50px;

    .teamMember {

      padding-top: 25px;

      &--left {
        padding-left:0;
      }

      &--right {
        padding-right: 0;
      }
      &-content {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .exchanges {
    padding: 25px 50px;

    a:hover {
      .exchange {
        background-color: #0f0f0f;
      }
    }
    .exchange {
      border: 1px solid white;
      text-align: center;
      height: 150px;
      margin-top: 50px;
      margin-bottom: 50px;

      &__image {
        width: 40%;
        height: 100%;

        &--wide{
          width: 60%;
        }
      }
    }
  }

  .bg-pic {
    top: -20px;
    width: 100%;
    height: 130%;
    overflow: hidden;
    position: fixed;
    z-index: -10;

    img {
      min-width: 100%;
      width: auto;
      height:100%;
    }
  }

  .contact {
    padding:0;
  }
}