nav {
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    background: #0f0f0f;
}

nav ul {
    background: #cccccc;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: white;
}